<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>

</head>
<body>
    <h1>To-Do List</h1>
    <a href="{% url 'create_todo' %}">Add New Task</a>
    <ul>
        {% for todo in todos %}
            <li>
                {{ todo.title }} - {% if todo.completed %}Completed{% else %}Not Completed{% endif %}
                <a href="{% url 'update_todo' todo.id %}">Edit</a>
                <a href="{% url 'delete_todo' todo.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
